@page "/fetchdata"
@inject HttpClient Http
@using DigimonCardBattleDatabase.Components
@using DigimonCardBattleDatabase.Classes

<PageTitle>Card Database</PageTitle>

<h1>Cards!!</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{<div class="container-fluid" style="text-align:center;"> 
    <div class="row">
        @foreach(DigimonCardData _data in data)
        {
            <div class="col">
                <DigimonCardDataComponent CardData=_data/>
            </div>
        }
        </div>
    </div>
}

